---
title: Joel Shinness
layout: default
---

    
<div id="photo">
  <img src="/assets/img/avatars/avatar.jpg" alt="">
</div>

<div id="sections-wrapper">

  <!-- Section -->
  <section id="home" class="bg-white" data-target="local-scroll">
    <div class="section-content">
      <img class="img-circle mb-40 visible-sm visible-xs" src="/assets/img/avatars/avatar_square_sm.jpg" alt="">
      <h1 class="mb-0">I'm Joel Shinness</h1>
      <h3 class="text-muted"><span class="typing">Front-End Web Developer</span></h3>
      <hr class="sep-line">

      <div class="row">
        <div class="col-sm-4">
          <dl class="description-2">
            <dt>Location:</dt>
            <dd>Burnaby, BC</dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="description-2">
            <dt>Email:</dt>
            <dd><a href="mailto:me@joelshinness.com">me@joelshinness.com</a></dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="description-2">
            <dt>Follow me!</dt>
            <dd>	
              <a href="http://www.twitter.com/joelshinness" target="blank" class="icon icon-twitter icon-sm icon-circle">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/joel-shinness-540b2921" target="blank" class="icon icon-linkedin icon-sm icon-circle">
                <i class="fa fa-linkedin"></i>
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    
  </section>




    
  <!-- Section -->
  <section id="about" class="bg-white">
    <div class="section-content">
      <h3 class="text-muted">About me</h3>
      <p class="lead text-lg mb-0">
        Hello! I’m <strong>Joel Shinness</strong>, a full-stack web developer with a passion for creating friendly user experiences with HTML, CSS, and JavaScript.  I&apos;ve built all sorts of web apps and mobile web app with ASP.NET, jQuery, Bootstrap and Angular.js, but I&apos;ve also created applications with WebGL, Processing, OpenGL, React, RxJS, and more.  I&apos;m looking for a challenge and a good team where I can teach, learn, and collaborate.
    </div>
  </section>




    <section id="skills" class="bg-white">
    <div class="section-content">
      <h3 class="text-muted">
        My Skills <sup>*</sup>
      </h3>
      <p>
        <small class="bg-primary p-5">Languages</small>
        <small class="bg-success dark p-5">Tools &amp; Libraries</small>
      </p>
      
      <div class="row">
        {% for skill in site.data.skills.languages %}
        <div class="col-sm-6 col-lg-4">
            <h5 class="mb-5">{{skill.name}}</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.pct}}"></div>
            </div>
          </div>
          {% endfor %}
          {% for skill in site.data.skills.libraries %}
          <div class="col-sm-6 col-lg-4">
              <h5 class="mb-5">{{skill.name}}</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{skill.pct}}"></div>
              </div>
            </div>
            {% endfor %}
          
        <div class="clearfix"></div>
      </div>
      
      <p class='text-muted' id='skills-note'>* Percentages are my non-scientific assessments of the question: &ldquo;What percentage of the problems I&apos;m given with this language, library, or tool will I be able to solve?&rdquo;</p>
    </div>
  </section>










    <!-- Section -->
  <section id="experience" class="bg-white">
    <div class="section-content">
      <h3 class="text-muted">Education &amp; Jobs</h3>
      <div class="timeline">
      
        
      {% for event in site.data.timeline %}
      <!-- Event-->
      <div class="timeline-event animated">
          <div class="date">
            <span>{{event.from}} - {{event.to}}</span>
          </div>
          <div class="content">
            <h3>{{event.role}}</h3>
            <span class="caption">{{event.organization}}, {{event.location}}</span>
            <ul>
              {% for responsibility in event.responsibilities %}
              <li>{{responsibility}}</li>
              {% endfor %}
            </ul>
            {% for language in event.languages %}
              <span class="label label-primary">{{language}}</span>
            {% endfor %}
            {% for framework in event.frameworks %}
              <span class="label label-success">{{framework}}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>






<!-- Section -->
<section id="latest-posts" class="bg-white">
<div class="section-content">
  <h3 class="text-muted">Latest Posts</h3>
  <!-- Posts List -->
<div class="masonry row">
<div class="masonry-sizer col-sm-6 col-xs-12"></div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/chess-thumb.jpeg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>09 Jan 2017</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">JavaScript</a></span>
          
          <span><a href="#">Promises</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2017-01-09/promises-promises-practical-application.html">Promises, Promises Pt. 5</a></h2>
      <p><p class="lead">You know, there&#8217;s this one thing that has always driven me crazy about blogs.</p>
<p>You see, too often, whenever they explain how to do something, they&#8217;ll give you the basics.  They step through &#8220;Hello, World&#8221;, and that&#8217;s it.  But you find yourself wanting to do something more complicated, and you find yourself flitting through twenty &#8220;Hello, World&#8221; tutorials hoping to find more insight.  As a musician, I can say that it&#8217;s one thing to learn musical scales, but it&#8217;s quite another thing to know songs in those scales or when it&#8217;s the right time to use them.  With this post, I want to go a couple steps further.  Promises are a great tool, but their purpose is to solve problems, not just get you past interviews (or provide cheap blog post fodder).</p></p>
      <a href="/blog/2017-01-09/promises-promises-practical-application.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/wristwatch-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>13 Sep 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">JavaScript</a></span>
          
          <span><a href="#">Promises</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-09-13/promises-promises-angular.html">Promises, Promises Pt. 4</a></h2>
      <p><p class="lead">Okay, this&#8217;ll be quick. This article is just for those using Angular, especially those versions before Angular 2.  I figure that even if the entire world stopped writing new apps in Angular, there would still be a metric pantload of legacy apps to maintain.  This article assumes enough familiarity with Angular to create controllers and services. The reason I&#8217;m writing this article is that Angular has one particular quirk about timing: dirty-checking.  You can&#8217;t just change data; you gotta tell Angular you did it so that it can go through the laborious task of updating the view.</p></p>
      <a href="/blog/2016-09-13/promises-promises-angular.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/pocket-watch-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>26 Aug 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">JavaScript</a></span>
          
          <span><a href="#">Promises</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-08-26/promises-promises-composing-in-es6.html">Promises, Promises Pt. 3</a></h2>
      <p><p class="lead">I don&#8217;t know what your familiarity level is with functional programming, and I&#8217;m not planning to go too far into it. I&#8217;m currently taking a specialization on the subject on Coursera, but if you&#8217;re totally new to the concept, I would really recommend the YouTube channel <a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q">Fun Fun Function</a> by Mattias Petter Johansson (a.k.a. mpj).  He breaks down the basics of functional programming reeeeeeaally well.  For now we&#8217;re going to do what functional programming does best: compose.</p></p>
      <a href="/blog/2016-08-26/promises-promises-composing-in-es6.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/order-up-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>25 Aug 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">JavaScript</a></span>
          
          <span><a href="#">Promises</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-08-25/promises-promises-es6-edition.html">Promises, Promises Pt. 2</a></h2>
      <p><p class="lead">In a <a href="/blog/2016-08-22/promises-promises-the-art-of-waiting-around">previous post</a>, I introduced the idea of promises and the purpose they serve, while also delivering an ode to nachos, a paean on a pan, as it were.  This time, I actually want to get to the nitty gritty, and demonstrate how to create, transform, and combine promises in the new ES6 syntax.  I&#8217;ll follow up with the same article in the syntax more common to Angular.JS, since that&#8217;s where most of my work has been.</p></p>
      <a href="/blog/2016-08-25/promises-promises-es6-edition.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/waiting-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>22 Aug 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">webdev</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-08-22/promises-promises-the-art-of-waiting-around.html">Promises, Promises Pt. 1</a></h2>
      <p><p class="lead">It has been said of history that it&#8217;s &#8220;just one damned thing after another.&#8221; (By the way, that&#8217;s the title of a fantastic book about time travel by Jodi Taylor, and I can&#8217;t recommend it enough).  The way we tell the story of history is often very sequential.  An archduke is shot in Sarajevo, the Central Powers start a war, yada, yada, yada.  But this telling hides a very complicated web of events that encapsulates trade agreements, royal marriages, personal affronts, and a regressive genetic defect called the &#8220;Hapsburg Jaw&#8221;.</p></p>
      <a href="/blog/2016-08-22/promises-promises-the-art-of-waiting-around.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/art-gallery-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>16 Aug 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">webdev</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-08-16/meta-blog-madness.html">How I Made This Very Website</a></h2>
      <p><p class="lead">Yes, I know writing a blog post about making the blog on with post is hosted is maybe a little bit too meta. But how we do anything that we would associate with ourselves should merit some reflection, and I have to blog about something, right?</p></p>
      <a href="/blog/2016-08-16/meta-blog-madness.html" class="more"><span></span></a>
    </div>
  </article>
</div>

<div class="masonry-item col-sm-6 col-xs-12">
  <!-- Post -->
  <article class="post item">
  
    <div class="post-image"><img src="/assets/img/posts/tools-thumb.jpg" alt=""></div>
    
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>14 Aug 2016</span></li>
        <li>
          <i class="ti-tag"></i>
          
          <span><a href="#">problem-solving</a></span>
          
        </li>
      </ul>
      <h2><a href="/blog/2016-08-14/who-why-what-how.html">Problem Solving - Who Why What How</a></h2>
      <p><p class="lead">Problem solving.  It&#8217;s so easy to think of it as the ability to exert control over every situation. But what is it really, and how can we learn to do it better?</p></p>
      <a href="/blog/2016-08-14/who-why-what-how.html" class="more"><span></span></a>
    </div>
  </article>
</div>

</div>

  <div class="text-center">
    <a href="/blog/" class="btn btn-primary">Go to my blog <span class="i i-after"><i class="ti-comments"></i><i class="ti-arrow-right"></i></span></a>
  </div>
</div>
</section>




</div>

