<!-- Navigation Bar -->

<div id="nav-bar" class="container">
  <nav>
    <ul id="nav-primary" class="nav nav-primary">
      <li class="icon-link">
        <a href="#home" class="active">
          <i class="fa fa-home"></i>
        </a>
      </li>
      
      <li>
        <a href="/#about">
          About
        </a>
      </li>
      
      <li>
        <a href="/#skills">
          Skills
        </a>
      </li>
      
      <li>
        <a href="/#experience">
          Experience
        </a>
      </li>
      
      <li class="icon-link">
        <a href="#" class="panel-toggle" data-toggle="panel">
          <span><span></span></span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="mobile-nav clearfix">
    <div class="owner">
      <img src="/assets/img/avatars/avatar_square_sm.jpg" alt="">
      <span class="name">Joel Shinness</span>
    </div>
    <a href="#" class="panel-toggle" data-toggle="panel"><span><span></span></span></a>
  </div>
</div>