---
layout: blog
title: Blog
---


<!-- Posts List -->
<div class="masonry row" style="position: relative; height: 3097.69px;">
	<div class="masonry-sizer col-sm-6 col-xs-12"></div>
  {% for post in site.posts %}
	<div class="masonry-item col-sm-6 col-xs-12" style="position: absolute; left: 0%; top: 0px;">
      <!-- Post -->
      <article class="post item">
      
        <div class="post-image"><img src="/assets/img/posts/{{post.thumb_url}}" alt=""></div>
        
        <div class="post-content">
          <ul class="post-meta">
            <li><i class="ti-time"></i><span>{{post.date | date_to_string }}</span></li>
            <li>
              <i class="ti-tag"></i>
              {% for tag in post.tags %}
              <span>{{ tag }}</span>
              {% endfor %}              
            </li>
          </ul>
          <h2><a href="{{post.url}}">{{post.title}}</a></h2>
          {{ post.excerpt }}
          <a href="{{post.url}}" class="more"><span></span></a>
        </div>
      </article>
    </div>
    {% endfor %}
</div>
