---
layout: default
title: page.title
---
<div class="row">

		<!-- Page Content -->
		<div class="col-md-9">
			<div class="page-content">
      <!-- Stainless -->
        {% include breadcrumb.html %}
        {{content}}
			</div>
		</div>

		<!-- Sidebar -->
		<div class="col-md-3">
			
			<div class="sidebar clearfix">
				<!-- Widget - About -->
				<div class="widget widget-about">
					<img src="/assets/img/avatars/avatar.jpg" alt="">
					<div class="text">
						<div class="typing-wrapper"><span class="typing">Hi! I’m Joel Shinness - Front-End Web Developer</span></div>
					</div>
				</div>

				

				<!-- Latest Posts -->
				<div class="widget widget-posts">
					<h6 class="text-muted">Latest Posts</h6>
					
					

<ul class="list-posts">
	
	<li>
		
		<a href="#" class="post-image">
			<img src="/assets/img/posts/chess-thumb.jpeg" alt="">
		</a>
		
		<div class="post-content">
			<a href="/blog/2017-01-09/promises-promises-practical-application.html">Promises, Promises Pt. 5</a>
			<span class="date">09 Jan 2017</span>
		</div>
	</li>
	
	<li>
		
		<a href="#" class="post-image">
			<img src="/assets/img/posts/wristwatch-thumb.jpg" alt="">
		</a>
		
		<div class="post-content">
			<a href="/blog/2016-09-13/promises-promises-angular.html">Promises, Promises Pt. 4</a>
			<span class="date">13 Sep 2016</span>
		</div>
	</li>
	
	<li>
		
		<a href="#" class="post-image">
			<img src="/assets/img/posts/pocket-watch-thumb.jpg" alt="">
		</a>
		
		<div class="post-content">
			<a href="/blog/2016-08-26/promises-promises-composing-in-es6.html">Promises, Promises Pt. 3</a>
			<span class="date">26 Aug 2016</span>
		</div>
	</li>
	
</ul>

				</div>

				
				
			</div>

		</div>

	</div>