---
layout: blog
---

<article class="post single">
					
  <!-- Image -->
  <div class="post-image">
    <img src="/assets/img/posts/{{page.bg_url}}" alt="">
  </div>
    
    <!-- Content -->
    <div class="post-content">
      <ul class="post-meta">
        <li><i class="ti-time"></i><span>{{page.date | date_to_string}}</span></li>
        <li>
          <i class="ti-tag"></i>
          {% for tag in page.tags %}
          <span>{{tag}}</span>
          {% endfor %}
          
        </li>
      </ul>
      <h1>
        {{page.title}}
        
        <br><small>{{page.subtitle}}</small>
        
      </h1>
      {{content}}
    </div>	

    
  </article>
